.App {
  text-align: center;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-item {
  cursor: pointer;
  float: left;
  padding: 20px;

}

.hidden {
  display: none;
}

.clearfix {
  clear: both;
}
